.component1_content {
  display: flex;
  flex-direction: column;
}

.component1_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0; 
}

.component1_box {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 35px;
  box-sizing: border-box;
  width: 48%;
  line-height: 1.5em;
}

.codebox {
  padding-left: 0px;
  padding-right: 0px
}

.info {
  text-align: left;
}

.subtext {
  font-size: .7em;
  color: #777;
}

.space-around {
  margin: 0 4px;
}

.codeblock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  margin-top: 20px;
  font-size: 17px;
}

.codeblock-subtext {
  margin-top: 100px;
  font-size: 12px;
}

.component1_section_box {
  margin: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 35px 135px;
  box-sizing: border-box;
  line-height: 1.5em;
}

.monster {
  background: url(../images/monster.png);
  display: inline-block;
  width: 190px;
  height: 240px;
  animation: play .6s steps(10) infinite;
}

.ui-test {
  background: url(../images/ui_test.png);
  display: inline-block;
  width: 500px;
  height: 429px;
}

.sauce-dash {
  background: url(../images/sauce_dashboard.png);
  display: inline-block;
  width: 500px;
  height: 273px;
}

.css-desktop {
  background: url(../images/ui_desktop.png);
  display: inline-block;
  width: 500px;
  height: 170px;
}

.css-mobile {
  background: url(../images/ui_mobile.png);
  display: inline-block;
  width: 500px;
  height: 273px;
}

.mocha_login {
  background: url('https://gist.github.com/shae-wat/7c485b3e2ceb844433358de3694821e7.js');
  display: inline-block;
  width: 500px;
  height: 273px;
}

@keyframes play {
   0% { background-position-x: 0px; }
   100% { background-position-x: -1900px; }
}
