.component_content {
  display: flex;
  flex-direction: column;
}

.component_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0;
}

.component_box,
.component_gisttext_box,
.component_gist_box,
.component_gisttext_box_lg,
.component_gist_box_lg {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 35px;
  box-sizing: border-box;
  line-height: 1.5em;
}

.component_box {
  width: 48%;
}

.component_gisttext_box {
  width: 30%;
}

.component_gist_box {
  width: 66%;
}

.component_gisttext_box_lg {
  width: 42%;
}

.component_gist_box_lg {
  padding: auto;
  width: 54%;
}

.dropdown-component {
  display: flex;
  justify-content: center;
}

.codebox {
  padding-left: 0px;
  padding-right: 0px
}

code {
  margin: 5px 0;
}

.info {
  text-align: left;
}

.center-vertically {
  align-self: center;
}

.center-horizontally {
  margin-left: auto;
  margin-right: auto;
}

.subtext {
  font-size: .7em;
  color: #777;
  text-align: center;
}

.space-around {
  margin: 0 4px;
}

.space-top {
  padding-top: 100px;
}

.space-top-sm {
  padding-top: 45px;
}

.codeblock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  font-size: 17px;
  text-align: center;
}

.codeblock-subtext {
  margin-top: 100px;
  font-size: 12px;
}

.component_section_box {
  margin: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 35px;
  box-sizing: border-box;
  line-height: 1.5em;
}

.monster {
  background: url(../images/monster.png);
  display: inline-block;
  width: 190px;
  height: 240px;
  animation: play .6s steps(10) infinite;
}

.image {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

.image-padding-top {
  padding-top: 50px;
}

.image-padding-bottom {
  padding-bottom: 30px;
}

.image-lrg-section {
  width: 30%;
}

.show {
  display: initial;
}

.hide {
  display: none;
}

@keyframes play {
   0% { background-position-x: 0px; }
   100% { background-position-x: -1900px; }
}


/*Tablet*/
@media screen and (max-width: 850px){
  .component_section {
    flex-direction: column;
  }

  .section_wrap_reverse {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  .component_section_box,
  .component_box,
  .component_gisttext_box,
  .component_gist_box,
  .component_gisttext_box_lg,
  .component_gist_box_lg {
    padding: 35px;
    width: 98%;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .space-top-sm {
    padding-top: 35px;
  }

  .image-lrg-section {
    width: 50%;
  }
}



/*Mobile*/
@media screen and (max-width: 550px){
  .component_section_box,
  .component_box,
  .component_gisttext_box,
  .component_gist_box,
  .component_gisttext_box_lg,
  .component_gist_box_lg {
    padding: 15px;
  }

  .full-width-mobile {
    padding-left: 0;
    padding-right: 0;
  }

  .chart-container {
    width: 90%;
    height: 90%;
  }
}
