.component1_content {
  display: flex;
  flex-direction: column;
}

.component1_section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 15px 0; 
}

.component1_box,
.component_gisttext_box,
.component_gist_box,
.component_gisttext_box_lg,
.component_gist_box_lg {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 35px;
  box-sizing: border-box;
  line-height: 1.5em;
}

.component1_box {
  width: 48%;
}

.component_gisttext_box {
  width: 30%;
}

.component_gist_box {
  width: 66%;
}

.component_gisttext_box_lg {
  width: 42%;
}

.component_gist_box_lg {
  padding: auto;
  width: 54%;
}

.codebox {
  padding-left: 0px;
  padding-right: 0px
}

.info {
  text-align: left;
}

.center-vertically {
  align-self: center;
}

.subtext {
  font-size: .7em;
  color: #777;
  text-align: center;
}

.space-around {
  margin: 0 4px;
}

.space-top {
  padding-top: 100px;
}

.space-top-sm {
  padding-top: 40px;
}

.codeblock {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  margin-top: 20px;
  font-size: 17px;
}

.codeblock-subtext {
  margin-top: 100px;
  font-size: 12px;
}

.component1_section_box {
  margin: 15px;
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 35px 135px;
  box-sizing: border-box;
  line-height: 1.5em;
}

.monster {
  background: url(../images/monster.png);
  display: inline-block;
  width: 190px;
  height: 240px;
  animation: play .6s steps(10) infinite;
}


.image {
  display: flex;
  justify-content: center;
  width: 90%;
  height: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.image-padding-top {
  padding-top: 50px;
}


@keyframes play {
   0% { background-position-x: 0px; }
   100% { background-position-x: -1900px; }
}

@media (max-width: 850px){
  .component1_section {
    flex-direction: column;
  }

  .section_wrap_reverse {
    flex-direction: row;
    flex-wrap: wrap-reverse;
  }

  .component1_box {
    padding: 35px;
    width: 98%;
    margin-top: 15px; 
    margin-left: auto;
    margin-right: auto;
  }

  .component_gisttext_box,
  .component_gist_box,
  .component_gisttext_box_lg,
  .component_gist_box_lg {
    padding: 35px;
    width: 98%;
    margin-top: 15px; 
    margin-left: auto;
    margin-right: auto;
  }

  .space-top-sm {
    padding-top: 0px;
  }
}

@media (max-width: 550px){
  .component1_section_box {
    padding: 15px;
  }

  .component1_box {
    padding: 15px;
  }

  .component_gisttext_box {
    padding: 15px;
  }

  .component_gist_box {
    padding: 15px;
  }
}
