.toggleContainer {
  border: 2px solid #ddd;
  border-radius: 5px;
  padding: 3px;
  margin: 10px 20px;
}

.tabBar {
  position: relative;
  display: flex;
  flex-direction: row;
}

.tabBackground {
  display: block;
  position: absolute;
  top: 0;
  left: 0%;
  margin: auto;
  height: 33px;
  width: 33%;
  background-color: #222;
  border-radius: 3px;

  transition: all .3s ease;
}

.middleActive {
  left: 33%;
}

.lastActive {
  left: 66%;
}

.tab {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 33px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.1em;
  cursor: pointer;
  z-index: 2;
}

.tabActive {
  color: #fff;
}
