@import './components/Component.css';

.App {
  text-align: center;
}

.appLogo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.appHeader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #3b444b;
  padding: 25px;
  color: #ddd;
}

.App-intro {
  font-size: large;
}

.headline {
  display: flex;
  flex-direction: row;
}

.appFooter {
  display: flex;
  justify-content: space-between;
  background-color: #222;
  padding: 10px;
  color: white;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 1000px){
  .appHeader {
    font-size: .8em;
  }
}

@media (max-width: 600px){
  .appHeader {
    flex-direction: column;
    align-items: flex-start;
    font-size: .6em;
  }

  .appLogo {
    margin-top: 5px;
    height: 40px;
  }
}
